{% extends 'partials/base.html' %}
{% block title %}Add Director{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Add a director</h1>
            <form method="post" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                {{ form.first_name.label }}
                {{ form.first_name() }}<br/>

                {{ form.last_name.label }}
                {{ form.last_name() }}<br/>

                {{ form.film.label }}
                {{ form.film() }}<br/>
                
                {{ form.submit() }}
            </form> 
        </div>
    </main>
{% endblock content %}