{% extends 'partials/base.html' %}
{% block title %}Add Film{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Add a film</h1>
            <form method="post" action="" enctype="multipart/form-data">
                {{ film_form.hidden_tag() }}

                {{ film_form.title.label }}
                {{ film_form.title() }}<br/>
                
                {{ film_form.release_date.label }}
                {{ film_form.release_date() }}<br/>

                {{ film_form.categories.label }}
                {{ film_form.categories() }}<br/>
                
                {{ film_form.created_in_country.label }}
                {{ film_form.created_in_country() }}<br/>
                
                
                {{ film_form.submit() }}
            </form> 
        </div>
    </main>
{% endblock content %}

<!-- {{ form.available_in_countries.label }}{{ form.available_in_countries() }}<br/> -->