<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <main>
        <form method="post" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
    
            {{ form.task.label }}
            {{ form.task() }}
    
            {{ form.submit() }}
        </form>
            <ul>
                {% for task in list_of_tasks %}
                    {% if task.completed == True %}
                        <li style="color:red;">
                            <s>{{ task.details }}</s>
                        </li>
                    {% else %}
                        <li>
                            {{ task.details }}
                            <form action="{{url_for('complete', todo_id=task.id)}}">
                                <button type="submit">Completed</button>
                            </form>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
    </main>
</body>
</html>