<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form method="post" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        
        {{ form.first_name.label }}
        {{ form.first_name() }}<br/>
        
        {{ form.last_name.label }}
        {{ form.last_name() }}<br/>

        {{ form.profile_type.label }}
        {{ form.profile_type() }}<br/>
        
        {{ form.username.label }}
        {{ form.username() }}<br/>
        
        {{ form.email.label }}
        {{ form.email() }}<br/>
        
        {{ form.password1.label }}
        {{ form.password1() }}<br/>
        
        {{ form.password2.label }}
        {{ form.password2() }}<br/>
        
        {{ form.submit() }}
    </form>
</body>
</html>