<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My CV</title>
    <link rel="stylesheet" href="static/style.css" >
</head>
<body>
    <h1>Yisroel Baum</h1>
    <img src="./images/propic.jpg" alt="there should be a pic of me here soon...">
    <br>
    <br>
    <br>
    <h3>Here are some of the ways in which I invest my time:</h3>
    <ul id="hobbies">
        <li>Coding</li>
        <li>Cycling</li>
        <li>Running</li>
        <li>Wrestling</li>
        <li>Cooking</li>
        <li>Homebrewing</li>
        <li>Reading</li>
    </ul>
    <br>
    <h3>My proficiencies:</h3>
    <ul>
        <li>Computer Languages(HTML, CSS, Javascript, Python)</li>
        <li>Communication</li>
        <li>Collaboration</li>
        <li>Problem Solving</li>
    </ul>
    <br>
    <h3>My strengths:</h3>
    <ul>
        <li>Always keeping a positive outlook</li>
        <li>Recognizing every situation as a learning opportunity (Especially mistakes!)</li>
        <li>Honesty</li>
        <li>Open-Minded</li>
    </ul>
    <br>
    <h3>My Weaknesses:</h3>
    <ul>
        <li>Lack of industry experience</li>
        <li>Nervousness with public speaking</li>
        <li>Being too comfortable taking big risks</li>
        <li>Initially shy</li>
    </ul>

</body>
</html>