<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form method="POST">
        {{ form.hidden_tag() }}
        
        {{ form.cityName.label }}{% if form.cityName.flags.required %}*{% endif %}
        {{ form.cityName() }}

        {{ form.cityCountry.label }}{% if form.cityCountry.flags.required %}*{% endif %}
        {{ form.cityCountry() }}
        
        {{ form.inhabitants.label }}{% if form.inhabitants.flags.required %}*{% endif %}
        {{ form.inhabitants() }}
        
        {{ form.cityArea.label }}{% if form.cityArea.flags.required %}*{% endif %}
        {{ form.cityArea() }}
        
        {{ form.latitude.label }}{% if form.latitude.flags.required %}*{% endif %}
        {{ form.latitude() }}
        
        {{ form.longitude.label }}{% if form.longitude.flags.required %}*{% endif %}
        {{ form.longitude() }}
        
        {{ form.capital.label }}{% if form.capital.flags.required %}*{% endif %}
        {{ form.capital() }}
        
        {{ form.submit() }}
        

        {{ list_of_cities }}

    </form>
</body>
</html>