<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.firstName.label }}
        {{ form.firstName(size=32) }}

        {{ form.lastName.label }}
        {{ form.lastName(size=32) }}

        {{ form.age.label }}
        {{ form.age(size=2) }}

        {{ form.submit() }}
    </form>
</body>
</html>