<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color</title>
    <style>
        /* I just commented this out because vscode is showing it has a bunch of errors but when i run it, it works */
         body{
            background-color: "{{background_color}}";
        } 
    </style>
</head>
<body>
    Hello, this is a {{background_color}} page
</body>
</html>