<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href={{ url_for('color', background_color='green')}} >green</a>
            </li>
            <li>
                <a href={{ url_for('color', background_color='blue')}} >blue</a>
            </li>
            <li>
                <a href={{ url_for('color', background_color='yellow')}} >yellow</a>
            </li>
            <li>
                <a href={{ url_for('color', background_color='red')}} >red</a>
            </li>
        </ul>
    </nav>
</body>
</html>